* {
    font-family: "Gveret Levin", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
}

html {
    font-size: 14px;
}

.row {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    width: 50%;
    margin: 0 auto;
    gap: 20px;
    font-size: 1.2rem;

    input,
    select {
        font-size: 1.2rem;
    }

    h1 {
        margin: 0;
    }

    button {
        background-color: rgb(2, 126, 209);
        width: fit-content;
        font-size: 1.2rem;
        border: none;
        outline: none;
        padding: 12px;
        border-radius: 5px;
        color: #fff;
    }
}