@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');
@import url('./reset.css');
@import url('./vars.css');
@import url('./mobile.css');
@import url('./tablet.css');
@import url('./desktop.css');

*, body {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}